#deleteIcon{
    display: flex;
    justify-content: end;
}

tr:hover {
    box-shadow: 0px 9px 4px -6px grey;
   }
   tr:hover td{
     cursor:pointer;
     color:grey;
     border-top: 1px solid grey;
     border-bottom: 1px solid grey;
   }
  
   tr:hover td.highlight div {
     transform: scaleX(3);
   }
   