<div id="container-el" class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div  class="col-md-6 mt-4" style="margin-left: 50px;">
            <img src="./assets/images/img4.png" alt="" style="width: 70%;">
            <div class="mat-display-3">Welcome to Todo App</div>
            <div class="mat-headline">Add your First Todo</div>
            <button mat-raised-button color="primary" routerLink="/add">Add Notes</button>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>